header {
font-family: "Croissant One", serif;
font-weight: 400;
font-style: normal;
position: fixed;
top: -20px;
left: 0px;
width: 100%;
z-index: 1;
}
body {
   background-color: rgb(135, 174, 158);
}
.nav-list{
    background: rgb(69, 104, 83);
    box-shadow: 0px 0px 10px;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.nav-item a{
color: white;
font-size: 20px;
}
.nav-item:first-child{
    margin-right: auto;
}

.mission {
    height: 300px;
    max-width: 1500px;
    margin: 250px auto 50px auto;
    background-position: center;
    background-image: url(../index/leaves.jpeg);
    opacity: 0.75;
    display: flex;
}

.mission-text {
    background-color: rgb(135, 174, 158);
    width: 100%;
    margin: auto;
    padding: 10px 25%;
    text-align: center;
}

.mission-text a{
    font-family: "Croissant One", serif;
    color: rgb(32, 39, 29);
    font-size: 20px;
    font-weight: 600;
}
h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    color: white;
    font-family: "Croissant One", serif;
}

.products {
    padding-bottom: 500px;
}

.products-container {
 display: inline-flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 80%;
 margin: 10px 10% 10px 10%;
}
.product img {
    
    width: 200px;
    height: 200px;
    padding: 30px;
    box-shadow: 0px 0px 15px;
    margin: 10px 40px;
    border: solid 0.5px rgb(44, 67, 53);
}

.product img:hover{
    background-color: rgb(44, 67, 53);
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0px 0px 0px;;
}
.product h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.product h2:hover {
    cursor: pointer;
    color: rgb(44, 67, 53);
}

.founder-container {
    background-image: url(../index/longleaves.jpeg);
width: 60%;
margin: 10px auto 10px auto;
}

.founder-text-image {
display: inline-flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
padding: 10px;
}

h3 {
text-align: center;
font-size: 30px;
font-family: "Croissant One", serif;
padding-top: 50px;
color: white;
}

.about {
padding:200px;
}

.founder-container img{
    height: 300px;
    padding: 10px;
}

.founder-container p {
    color: rgb(32, 39, 29);
    font-family: "Croissant One", serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

footer {
    font-family: "Croissant One", serif;
}
footer h4 {
    text-align: center;
    font-size: 20px;
}
.socials {
    color: black;
    text-align: center;
    width: 400px;
    margin: 10px auto;
}